<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>{{.Label}}</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-c</string>
		<string>for i in $(/usr/bin/seq {{.First}} {{.Last}}); do /sbin/ifconfig lo0 alias {{.Prefix}}$i up; done</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
